.footer {
 
 position: fixed;
 width: 100%;
 bottom: 0;
 color: white;
 background-color: #8a2b06;;
}

.textDiv {
  margin-left: 5rem;
}

.actionsDiv {
  display: flex;
  justify-content: space-evenly;
}

.link{
    color: white;
}

.link:hover{
    text-decoration: underline;
}
